# Client API Base URL
NEXT_PUBLIC_SERVER_URL=http://localhost:5000
NEXT_PUBLIC_BASE_URL=http://localhost:5000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000

# Client Asset & Payment Services
NEXT_PUBLIC_IMGBB_API_KEY=your_imgbb_api_key_here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here
